workflows/stripe-idempotent-billing.json
{
  "name": "stripe-idempotent-billing",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7a48f90-e6ca-4039-9f5a-5f962dfa5b1e",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        480
      ],
      "id": "195640cc-89ad-4d19-b771-7a7cc420673a",
      "name": "Normalize Stripe Payload"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_log",
          "mode": "list",
          "cachedResultName": "event_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $('Listen to stripe events').item.json.body.data.object.amount }}",
            "event_id": "={{ $('Listen to stripe events').item.json.body.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        576
      ],
      "id": "64264628-a2cf-4151-b369-15139736e680",
      "name": "Insert stripe data into postgres",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1500,
      "credentials": {
        "postgres": {
          "id": "7IGpRF9xcH7oYorS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "customerId": "={{ $('Listen to stripe events').item.json.body.data.object.customer }}"
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        896,
        576
      ],
      "id": "764e678f-56ed-412a-a495-56c5cdef07a6",
      "name": "Get customer details",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 1500,
      "credentials": {
        "stripeApi": {
          "id": "tXYtviiNpWBxiZ5A",
          "name": "Stripe account"
        }
      },
      "notes": "Stop the workflow if stripe data fails"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2ff98d5e-f66e-8095-8ca6-d73c4635e014",
          "mode": "list",
          "cachedResultName": "Billing Logs",
          "cachedResultUrl": "https://www.notion.so/2ff98d5ef66e80958ca6d73c4635e014"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "amount|number",
              "numberValue": "={{ ($json.amount / 100) }}"
            },
            {
              "key": "stripe_event|rich_text",
              "textContent": "={{ $json.event_id }}"
            },
            {
              "key": "raw payload|rich_text",
              "textContent": "={{ JSON.stringify($json.payload) }}"
            },
            {
              "key": "currency|rich_text",
              "textContent": "={{ $json.currency }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1344,
        768
      ],
      "id": "5350339a-3049-457d-a34f-d7a2945e4225",
      "name": "Create notion entry",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 1500,
      "credentials": {
        "notionApi": {
          "id": "eOM7OdmHs43VXkY6",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AEARTN4RW",
          "mode": "list",
          "cachedResultName": "all-n8n"
        },
        "text": "=New payment: {{ $json.currency }}{{ ($json.amount / 100).toFixed(2) }}\nCustomer:{{ $json.name }} - {{ $json.email }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1344,
        576
      ],
      "id": "dcbb1537-a54e-4ce0-8565-12567ba7467a",
      "name": "Notify Slack",
      "webhookId": "794402a4-006f-45ab-af63-318be3661418",
      "credentials": {
        "slackApi": {
          "id": "ZFV91itTvmqHoGDb",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-event",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        480
      ],
      "id": "664d8084-aea8-4d13-9b8a-aee6fbd847c4",
      "name": "Listen to stripe events",
      "webhookId": "b71f87b6-2cda-4c94-abff-867589ffa270"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AEARTN4RW",
          "mode": "list",
          "cachedResultName": "all-n8n"
        },
        "text": "=Duplicate Entry: {{ $json.event_id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        384
      ],
      "id": "3b5b5941-5bf0-442f-8667-919cdb6b30d3",
      "name": "Notify Slack about duplicate entry",
      "webhookId": "794402a4-006f-45ab-af63-318be3661418",
      "credentials": {
        "slackApi": {
          "id": "ZFV91itTvmqHoGDb",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1zECHRHYZUX72A",
          "mode": "list",
          "cachedResultName": "Billing CRM",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A"
        },
        "table": {
          "__rl": true,
          "value": "tblLO3o5Mh9HhJKxB",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A/tblLO3o5Mh9HhJKxB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $json.amount }}",
            "stripe_event": "={{ $json.event_id }}",
            "Status": "Done",
            "currency": "={{ $json.currency }}",
            "email": "={{ $json.emaial }}",
            "Full Name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stripe_event",
              "displayName": "stripe_event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        384
      ],
      "id": "61c3deae-8150-4ff4-bd19-f69700ae35b8",
      "name": "Create Airtable Record",
      "retryOnFail": false,
      "maxTries": 5,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "1J3W1Z7aTfCHG8WT",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Insert pending syns into DB if Airtable fails"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "08483f4d-2b7e-4a66-a23c-178b9142d094",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        576
      ],
      "id": "27547559-62e0-4b42-85cd-988a163e1319",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_log",
          "mode": "list",
          "cachedResultName": "event_log"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "event_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        480
      ],
      "id": "e573e8d0-3e78-4865-b021-6d710fdaba0f",
      "name": "Idempotency Check",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "7IGpRF9xcH7oYorS",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "550ebd0e-7369-4083-abc6-9932d1783a8b",
              "leftValue": "={{ $json.error !== (undefined || null) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        672
      ],
      "id": "0fd68185-c412-4bc2-af78-d4d88438ea22",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d848715c-29e8-4b87-82fa-ffa41e944100",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "object"
            },
            {
              "id": "6138ce41-d76a-41bc-9cb0-696178c51b3c",
              "name": "event_id",
              "value": "={{ $('Insert stripe data into postgres').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9e194b0d-9103-4044-ae52-26dd1f5a6755",
              "name": "payload",
              "value": "={{ $('Edit Fields2').item.json.payload }}",
              "type": "string"
            },
            {
              "id": "e75eaf13-5a8b-44d4-bac3-89fa2b0b8a56",
              "name": "service",
              "value": "airtable",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        384
      ],
      "id": "009f9375-df6f-4e2f-938c-f674da2fb192",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d848715c-29e8-4b87-82fa-ffa41e944100",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "6138ce41-d76a-41bc-9cb0-696178c51b3c",
              "name": "event_id",
              "value": "={{ $('Edit Fields2').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9e194b0d-9103-4044-ae52-26dd1f5a6755",
              "name": "payload",
              "value": "={{ $('Edit Fields2').item.json.payload }}",
              "type": "string"
            },
            {
              "id": "e75eaf13-5a8b-44d4-bac3-89fa2b0b8a56",
              "name": "service",
              "value": "notion",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        768
      ],
      "id": "69876a26-0e40-49ae-b644-a13dc6d22991",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pending_sync",
          "mode": "list",
          "cachedResultName": "pending_sync"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resolved": false,
            "retry_count": 0,
            "event_id": "={{ $('Edit Fields2').item.json.event_id }}",
            "service": "={{ $('If').item.json.service }}",
            "error": "={{ $('If').item.json.error }}",
            "payload": "={{ $('Edit Fields2').item.json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        768
      ],
      "id": "86f7aa01-3183-4d3a-a975-9e9a46de7e49",
      "name": "Insert failed node into DB for CRON retrying",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "postgres": {
          "id": "7IGpRF9xcH7oYorS",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "69391a02-a8cf-4f4c-82ad-7709887f45b3",
      "name": "Schedule Trigger",
      "retryOnFail": false,
      "maxTries": 5
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1zECHRHYZUX72A",
          "mode": "list",
          "cachedResultName": "Billing CRM",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A"
        },
        "table": {
          "__rl": true,
          "value": "tblLO3o5Mh9HhJKxB",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A/tblLO3o5Mh9HhJKxB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $('Listen to stripe events').item.json.body.data.object.amount }}",
            "stripe_event": "={{ $('Listen to stripe events').item.json.body.id }}",
            "Status": "Done",
            "currency": "={{ $('Listen to stripe events').item.json.body.data.object.currency }}",
            "email": "={{ $json.email }}",
            "Full Name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stripe_event",
              "displayName": "stripe_event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        -32
      ],
      "id": "aa9e75cb-5c0a-4566-bdf2-15d44d76f0e0",
      "name": "Create Airtable Record1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "1J3W1Z7aTfCHG8WT",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Insert pending syns into DB if Airtable fails"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pending_sync",
          "mode": "list",
          "cachedResultName": "pending_sync"
        },
        "where": {
          "values": [
            {
              "column": "resolved",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        64
      ],
      "id": "88b28a8e-0fec-4040-b5d1-c46b987adf5e",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "7IGpRF9xcH7oYorS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "airtable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be8f425c-0cb9-4129-8999-e388ae97575d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74da0736-3c10-4b26-9ac1-197e29cbe0b5",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "notion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        64
      ],
      "id": "797c8ceb-44e2-4656-88d1-83c05ca40663",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2ff98d5e-f66e-8095-8ca6-d73c4635e014",
          "mode": "list",
          "cachedResultName": "Billing Logs",
          "cachedResultUrl": "https://www.notion.so/2ff98d5ef66e80958ca6d73c4635e014"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.payload.name }}"
            },
            {
              "key": "email|email",
              "emailValue": "={{ $json.payload.email }}"
            },
            {
              "key": "amount|number",
              "numberValue": "={{ ($json.payload.amount / 100) }}"
            },
            {
              "key": "stripe_event|rich_text",
              "textContent": "={{ $json.payload.event_id }}"
            },
            {
              "key": "raw payload|rich_text",
              "textContent": "={{ JSON.stringify($json.payload.payload) }}"
            },
            {
              "key": "currency|rich_text",
              "textContent": "={{ $json.payload.currency }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        160
      ],
      "id": "7fb5c419-4607-4b3f-843b-edffd2946db1",
      "name": "Create notion entry1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "credentials": {
        "notionApi": {
          "id": "eOM7OdmHs43VXkY6",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aabc3c7d-8df7-4238-a988-6916539dd931",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "029b0ac2-d212-4f9d-9dd9-12b924191422",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b32d9242-776b-4dec-bb07-2fb7c62a6021",
              "name": "event_id",
              "value": "={{ $('Insert stripe data into postgres').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9ed24674-b3ea-4494-8264-9138abbf50cb",
              "name": "amount",
              "value": "={{ $('Insert stripe data into postgres').item.json.amount }}",
              "type": "string"
            },
            {
              "id": "a1345d5a-14b9-429c-a663-98cbf0cda661",
              "name": "currency",
              "value": "={{ $('Listen to stripe events').item.json.body.data.object.currency }}",
              "type": "string"
            },
            {
              "id": "4e0a23ad-eac4-4471-ab78-1b9b9c818764",
              "name": "customer",
              "value": "={{ $('Listen to stripe events').item.json.body.data.object.customer }}",
              "type": "string"
            },
            {
              "id": "18c3004a-9fd7-4d6a-ada6-66ce52a2c955",
              "name": "payload",
              "value": "={{ $('Listen to stripe events').item.json.body.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        576
      ],
      "id": "90fd4448-56cd-4a63-910f-b260f159897b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "ToDO: \n\nAdd stripe sintur on stipe events\n\nadd retris\n\nimplement redis before get customer details\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        32
      ],
      "typeVersion": 1,
      "id": "285342de-ab11-4976-9bb4-cd4b85120076",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2464,
        576
      ],
      "id": "91e7ab52-d6c2-4333-8891-27fc67bd3e29",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        160
      ],
      "id": "52a20da5-f5d0-44f2-950b-83606bea2e6f",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "4c409456-9efd-44dc-aa50-5cd2be7fd327",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pending_sync WHERE event_id = \n'{{ $json.event_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        672
      ],
      "id": "1d87bad1-b551-4396-9dc1-e46a34232177",
      "name": "Check for duplicate entry",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7IGpRF9xcH7oYorS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7a48f90-e6ca-4039-9f5a-5f962dfa5b1e",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        672
      ],
      "id": "30280304-8d96-4788-842b-7ce6c1225ffa",
      "name": "If duplicate entry"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Stripe Payload": {
      "main": [
        [
          {
            "node": "Notify Slack about duplicate entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert stripe data into postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert stripe data into postgres": {
      "main": [
        [
          {
            "node": "Get customer details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer details": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create notion entry": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen to stripe events": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack about duplicate entry": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Normalize Stripe Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check for duplicate entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Airtable Record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create notion entry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert failed node into DB for CRON retrying": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create notion entry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create notion entry1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicate entry": {
      "main": [
        [
          {
            "node": "If duplicate entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicate entry": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert failed node into DB for CRON retrying",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "ZRnr3_ysXKzYPFVDq1JEg",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10000
  },
  "versionId": "7566dfd9-e3fe-48a1-aef6-79a67f3a43a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "323338559e0a1761bdc2132527a39459f12d5075d40f1899b103cd2d72e82c4a"
  },
  "id": "KWwgFyOw3SANkR5sFGWul",
  "tags": []
}