workflows/stripe-idempotent-billing.json
{
  "name": "stripe-idempotent-billing",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7a48f90-e6ca-4039-9f5a-5f962dfa5b1e",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        384
      ],
      "id": "7e242dec-7308-4d49-9280-3640b02aedec",
      "name": "Normalize Stripe Payload"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_log",
          "mode": "list",
          "cachedResultName": "event_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $('Listen to stripe events').item.json.body.data.object.amount }}",
            "event_id": "={{ $('Listen to stripe events').item.json.body.id }}",
            "payload": "={{ $('Listen to stripe events').item.json.body }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        480
      ],
      "id": "d619fb0b-7130-42d5-9615-b56c97aaa93d",
      "name": "Insert stripe data into postgres",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1500,
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "customerId": "={{ $('Insert stripe data into postgres').item.json.payload.data.object.customer }}"
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        1008,
        480
      ],
      "id": "d3df04d3-dc9a-4040-9482-48f9aa45b5db",
      "name": "Get customer details",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "stripeApi": {
          "id": "jIbB1hfbavAYGevo",
          "name": "Stripe account"
        }
      },
      "notes": "Stop the workflow if stripe data fails"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2ff98d5e-f66e-8095-8ca6-d73c4635e014",
          "mode": "list",
          "cachedResultName": "Billing Logs",
          "cachedResultUrl": "https://www.notion.so/2ff98d5ef66e80958ca6d73c4635e014"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "amount|number",
              "numberValue": "={{ ($json.amount / 100) }}"
            },
            {
              "key": "stripe_event|rich_text",
              "textContent": "={{ $json.event_id }}"
            },
            {
              "key": "raw payload|rich_text",
              "textContent": "={{ JSON.stringify($json.payload) }}"
            },
            {
              "key": "currency|rich_text",
              "textContent": "={{ $json.currency }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1680,
        672
      ],
      "id": "9463556e-2501-4d53-a06f-3e48f1018173",
      "name": "Create notion entry",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "credentials": {
        "notionApi": {
          "id": "qRcPn57O6guFVwLT",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AEARTN4RW",
          "mode": "list",
          "cachedResultName": "all-n8n"
        },
        "text": "=New payment: {{ $json.currency }}{{ ($json.amount / 100).toFixed(2) }}\nCustomer:{{ $json.name }} - {{ $json.email }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1680,
        480
      ],
      "id": "fa245150-7e5a-44c8-a10f-650e5d4a9fe9",
      "name": "Notify Slack",
      "webhookId": "794402a4-006f-45ab-af63-318be3661418",
      "credentials": {
        "slackApi": {
          "id": "yl6lEBo3BVXGLALv",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing-event",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        384
      ],
      "id": "1be91424-04c3-4234-a787-1eb3d3fedb3c",
      "name": "Listen to stripe events",
      "webhookId": "b71f87b6-2cda-4c94-abff-867589ffa270"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AEARTN4RW",
          "mode": "list",
          "cachedResultName": "all-n8n"
        },
        "text": "=Duplicate Entry: {{ $json.event_id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        112,
        288
      ],
      "id": "222927b9-2c69-42f0-ad1d-80981be1f5f1",
      "name": "Notify Slack about duplicate entry",
      "webhookId": "794402a4-006f-45ab-af63-318be3661418",
      "credentials": {
        "slackApi": {
          "id": "yl6lEBo3BVXGLALv",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1zECHRHYZUX72A",
          "mode": "list",
          "cachedResultName": "Billing CRM",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A"
        },
        "table": {
          "__rl": true,
          "value": "tblLO3o5Mh9HhJKxB",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A/tblLO3o5Mh9HhJKxB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $json.amount }}",
            "stripe_event": "={{ $json.event_id }}",
            "Status": "Done",
            "currency": "={{ $json.currency }}",
            "email": "={{ $json.email }}",
            "Full Name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stripe_event",
              "displayName": "stripe_event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        288
      ],
      "id": "015ab6a4-04f6-4ee1-b6bf-bcd46ec1a6b9",
      "name": "Create Airtable Record",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "x4z5mVeVlVyj2uiz",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Insert pending sync into DB if Airtable fails"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        336,
        288
      ],
      "id": "b59b2733-9113-4a48-a077-931efb128bd8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1904,
        480
      ],
      "id": "7af6c35c-6fc0-48bd-93b3-34a8ce1aa23b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "event_log",
          "mode": "list",
          "cachedResultName": "event_log"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "event_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        384
      ],
      "id": "a6f072ad-b3b1-464f-872a-d9ee0b529f72",
      "name": "Idempotency Check",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "550ebd0e-7369-4083-abc6-9932d1783a8b",
              "leftValue": "={{ $json.error !== (undefined || null) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        576
      ],
      "id": "483b741d-37ad-4151-bb93-a95108626947",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d848715c-29e8-4b87-82fa-ffa41e944100",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "object"
            },
            {
              "id": "6138ce41-d76a-41bc-9cb0-696178c51b3c",
              "name": "event_id",
              "value": "={{ $('Insert stripe data into postgres').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9e194b0d-9103-4044-ae52-26dd1f5a6755",
              "name": "payload",
              "value": "={{ $('Edit Fields2').item.json.payload }}",
              "type": "string"
            },
            {
              "id": "e75eaf13-5a8b-44d4-bac3-89fa2b0b8a56",
              "name": "service",
              "value": "airtable",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        288
      ],
      "id": "0d0b264e-c399-47c4-9f5a-f01df8ab3322",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d848715c-29e8-4b87-82fa-ffa41e944100",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "6138ce41-d76a-41bc-9cb0-696178c51b3c",
              "name": "event_id",
              "value": "={{ $('Edit Fields2').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9e194b0d-9103-4044-ae52-26dd1f5a6755",
              "name": "payload",
              "value": "={{ $('Edit Fields2').item.json.payload }}",
              "type": "string"
            },
            {
              "id": "e75eaf13-5a8b-44d4-bac3-89fa2b0b8a56",
              "name": "service",
              "value": "notion",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        672
      ],
      "id": "e64a3a3b-a041-4a05-a3eb-213fb5953996",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pending_sync",
          "mode": "list",
          "cachedResultName": "pending_sync"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resolved": false,
            "retry_count": 0,
            "event_id": "={{ $('Edit Fields2').item.json.event_id }}",
            "service": "={{ $('If').item.json.service }}",
            "error": "={{ $('If').item.json.error }}",
            "payload": "={{ $('Edit Fields2').item.json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        480
      ],
      "id": "d5b65583-e3c3-4130-9736-9749b2736e31",
      "name": "Insert failed node into DB for CRON retrying",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -32
      ],
      "id": "da13e09b-71d7-4e15-9009-e577772ca6f4",
      "name": "Schedule Trigger",
      "retryOnFail": false,
      "maxTries": 5
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app1zECHRHYZUX72A",
          "mode": "list",
          "cachedResultName": "Billing CRM",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A"
        },
        "table": {
          "__rl": true,
          "value": "tblLO3o5Mh9HhJKxB",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/app1zECHRHYZUX72A/tblLO3o5Mh9HhJKxB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $('Listen to stripe events').item.json.body.data.object.amount }}",
            "stripe_event": "={{ $('Listen to stripe events').item.json.body.id }}",
            "Status": "Done",
            "currency": "={{ $('Listen to stripe events').item.json.body.data.object.currency }}",
            "email": "={{ $json.email }}",
            "Full Name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stripe_event",
              "displayName": "stripe_event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        336,
        -128
      ],
      "id": "146f7289-12b4-4941-bf9f-8c00b1c82f7a",
      "name": "Create Airtable Record1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "x4z5mVeVlVyj2uiz",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Insert pending syns into DB if Airtable fails"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pending_sync",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "resolved",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -32
      ],
      "id": "e7ab1a4b-5633-4c77-8d04-72347c27e290",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "airtable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be8f425c-0cb9-4129-8999-e388ae97575d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74da0736-3c10-4b26-9ac1-197e29cbe0b5",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "notion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        -32
      ],
      "id": "17bc9aa1-225c-47ee-a810-71c7e95f1a44",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2ff98d5e-f66e-8095-8ca6-d73c4635e014",
          "mode": "list",
          "cachedResultName": "Billing Logs",
          "cachedResultUrl": "https://www.notion.so/2ff98d5ef66e80958ca6d73c4635e014"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.pay1load.name }}"
            },
            {
              "key": "email|email",
              "emailValue": "={{ $json.payload.email }}"
            },
            {
              "key": "amount|number",
              "numberValue": "={{ ($json.payload.amount / 100) }}"
            },
            {
              "key": "stripe_event|rich_text",
              "textContent": "={{ $json.payload.event_id }}"
            },
            {
              "key": "raw payload|rich_text",
              "textContent": "={{ JSON.stringify($json.payload.payload) }}"
            },
            {
              "key": "currency|rich_text",
              "textContent": "={{ $json.payload.currency }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        336,
        64
      ],
      "id": "2c7297e9-90b8-41e4-9b82-86b5e30d70ca",
      "name": "Create notion entry1",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "credentials": {
        "notionApi": {
          "id": "qRcPn57O6guFVwLT",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aabc3c7d-8df7-4238-a988-6916539dd931",
              "name": "email",
              "value": "={{ $json.customer.email }}",
              "type": "string"
            },
            {
              "id": "029b0ac2-d212-4f9d-9dd9-12b924191422",
              "name": "name",
              "value": "={{ $json.customer.name }}",
              "type": "string"
            },
            {
              "id": "b32d9242-776b-4dec-bb07-2fb7c62a6021",
              "name": "event_id",
              "value": "={{ $('Insert stripe data into postgres').item.json.event_id }}",
              "type": "string"
            },
            {
              "id": "9ed24674-b3ea-4494-8264-9138abbf50cb",
              "name": "amount",
              "value": "={{ $('Insert stripe data into postgres').item.json.amount }}",
              "type": "string"
            },
            {
              "id": "a1345d5a-14b9-429c-a663-98cbf0cda661",
              "name": "currency",
              "value": "={{ $('Listen to stripe events').item.json.body.data.object.currency }}",
              "type": "string"
            },
            {
              "id": "4e0a23ad-eac4-4471-ab78-1b9b9c818764",
              "name": "customer",
              "value": "={{ $('Listen to stripe events').item.json.body.data.object.customer }}",
              "type": "string"
            },
            {
              "id": "18c3004a-9fd7-4d6a-ada6-66ce52a2c955",
              "name": "payload",
              "value": "={{ $('Listen to stripe events').item.json.body.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        480
      ],
      "id": "72396355-3795-459e-86ef-dc30e1f0bbb8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2800,
        288
      ],
      "id": "feff9aea-5c1c-433a-8baf-293e52105afe",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pending_sync WHERE event_id = \n'{{ $json.event_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        480
      ],
      "id": "3c5024ae-dbff-4cf6-898b-8aa1c63addca",
      "name": "Check for duplicate entry",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7a48f90-e6ca-4039-9f5a-5f962dfa5b1e",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2576,
        480
      ],
      "id": "3c8394f2-8c81-4a83-8ca3-1114db427320",
      "name": "If duplicate entry"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pending_sync",
          "mode": "list",
          "cachedResultName": "pending_sync"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resolved": true,
            "id": "={{ $('Select rows from a table').item.json.id }}",
            "event_id": "={{ $('Select rows from a table').item.json.event_id }}"
          },
          "matchingColumns": [
            "id",
            "event_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -128
      ],
      "id": "bae4f230-5239-4eae-a411-1328dec76381",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "550ebd0e-7369-4083-abc6-9932d1783a8b",
              "leftValue": "={{ $json.error !== (undefined || null) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -32
      ],
      "id": "05777cdb-6dd6-4b1e-a6be-7e268156cf5e",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pending_sync\nSET\n  retry_count = retry_count + 1,\n  updated_at = NOW(),\n  error = '{{ $json.error }}'\nWHERE event_id = '{{ $('Loop Over Items').item.json.event_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        64
      ],
      "id": "81971206-2f8d-4310-995b-76ffd3c87387",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "lVt5yKnqe6weOVkg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -32
      ],
      "id": "1a2551a1-dade-46eb-b08c-dfeec792bd35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "customer",
        "key": "=customer_{{ $json.payload.data.object.customer }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        336,
        480
      ],
      "id": "68c9dce1-af19-4c2e-8393-f700de0d068e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Uw0Zitr63BzM8wsF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=customer_{{ $json.id }}",
        "value": "={{ JSON.stringify($json) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 60000000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1232,
        480
      ],
      "id": "7073d24d-2525-4fdd-9733-98ea7e355ce3",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "Uw0Zitr63BzM8wsF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdb6adb9-2b67-43bf-a712-5e577db2163a",
              "leftValue": "={{ $json.customer }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        480
      ],
      "id": "e8491fc9-c97b-4a8b-a75c-e71e8d9eddbb",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40fa7e93-8037-45bd-8dd4-b3bbf761978e",
              "name": "customer",
              "value": "={{ JSON.parse($json[\"customer\"]) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        480
      ],
      "id": "277cbe66-dcf4-4725-955f-e992ce4a69d5",
      "name": "Edit Fields3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2352,
        672
      ],
      "id": "2de10bbb-cba6-4620-b609-f2999f8ea418",
      "name": "No Operation, do nothing3"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Stripe Payload": {
      "main": [
        [
          {
            "node": "Notify Slack about duplicate entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert stripe data into postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert stripe data into postgres": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer details": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create notion entry": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen to stripe events": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack about duplicate entry": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Normalize Stripe Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check for duplicate entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Airtable Record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create notion entry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create notion entry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create notion entry1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicate entry": {
      "main": [
        [
          {
            "node": "If duplicate entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicate entry": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert failed node into DB for CRON retrying",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get customer details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "jF76Rk1LW4tEp2MwCXLWa",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 15000000
  },
  "versionId": "508f6988-4ecf-43a9-a158-842775a69e36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d96c7866164030ab7a67f779a3e598f5beae75620a505d152062e9e34f9ddd5c"
  },
  "id": "SsW2db8HIV7Np9OpasDUf",
  "tags": []
}